<h1>Instagrams Around You</h1>
<form>
    <fieldset>
        <label>Latitude: </label><input ng-model="lat"/>
    </fieldset>

    <fieldset>
        <label>Longitude: </label><input ng-model="lng"/>
    </fieldset>
    <fieldset>
        <button class="btn btn-default" ng-click="getMyLocation()">Around Me</button>
    </fieldset>
    <fieldset>
        <input class="btn btn-primary" type="submit" ng-click="search()" value="Go"/>
    </fieldset>
</form>
<ul class="list-feature">
    <li ng-repeat="post in posts">
        <img ng-src="{{post.images.standard_resolution.url}}"/>
        <p>
            <small>{{post.created_time*1000 | date:'dd MMM, yyyy - hh:mm a' }}</small>
            {{post.caption.text}}
        </p>
    </li>
</ul>