<div class="col-md-12">
    <h1>Instagrams Around You</h1>
    <p>
        If you've ever wondered what people in different places are up to. Mini-project by
        <a href="http://twitter.com/piratefsh">Sher Minn</a>
        .
    </p>
</div>
<div class="col-md-3">
    <form>
        <div id="map"></div>
        <fieldset>
            <label>Latitude:</label>
            <input ng-model="latlng.lat"/>
        </fieldset>

        <fieldset>
            <label>Longitude:</label>
            <input ng-model="latlng.lng"/>
        </fieldset>
        <fieldset>
            <button class="btn btn-default" ng-click="getMyLocation()">Around Me</button>
        </fieldset>
        <fieldset>
            <input class="btn btn-primary" type="submit" ng-click="search()" value="Go"/>
        </fieldset>
    </form>
</div>
<div class="col-md-9">
    <div ng-hide="posts.length">
        <p>No Instagrammers around here!</p>
    </div>
    <ul class="list-feature">
        <li ng-repeat="post in posts">
        <a class="image" href="{{post.link}}"><img ng-src="{{post.images.standard_resolution.url}}"/></a>
            <p>
                <small>{{post.created_time*1000 | date:'dd MMM, yyyy - hh:mm a' }} by {{post.user.username}}</small><br/>
                {{post.caption.text}}
            </p>
        </li>
    </ul>
</div>