@import 'constants'
@import 'compass/css3'

.label
  color: #555555
  text-transform: uppercase

.btn 
  @extend .label
  text-decoration: none 
  background-color: $color-bg-grey
  padding: $space/2
  border-radius: $space/4
  display: inline-block
  font-weight: normal

.btn-default
  font-size: 0.8em

.btn-clean
  color: $color-text-grey
  background-color: transparent

.btn-active-teal
  background-color: $color-primary
  color: white
.btn-active-blue
  background-color: $color-primary
  color: white

.btn-side
  padding: $space/2
  margin: -$space/2
  margin-left: -5px
  float: right

input, textarea
  @extend .label
  font-size: 0.9em
  border: 1px solid transparent
  background-color: transparent
  border-bottom: $simple-border

form 
  margin: $space auto
  fieldset
    border: none
    margin: $space auto
    display: inline-block
    padding: $space/2
  input, button
    padding: $space/2
  button, input[type='submit']
    color: white
    border: none 
    background-color: $color-primary
    border-radius: $space/3
.ui-checkbox
  $height: 16px 
  $label-size: 22px
  width: 40px
  height: $height
  background-color: #ddd
  margin: 0 $space/2
  border-radius: 20px
  position: relative
  display: inline-block
  label 
    display: block 
    width: $label-size
    height: $label-size
    border-radius: 50%
    top: -($label-size - $height)/2
    left: 0px
    background-color: #fbfbfb
    box-shadow: 2px 1px 1px 1px rgba(#aaa, 0.3)
    position: absolute
    cursor: pointer
    z-index: 2
    @include transition(background-color .3s ease-in-out, left .3s ease-in-out)
    &:before
      background-color: transparent
      @include transition-delay(0s)
      z-index: 1
      width: 40px
      height: $height
      margin-right: $space/2
      border-radius: 20px
      content: ''
      display: block 
      position: absolute
      top: 2px
      left: 0px
    &.disabled
      background-color: #efefef

  input[type='checkbox']
    visibility: hidden
    &:checked + label
      left: 20px
      background-color: $color-primary
      box-shadow: -1px 1px 1px 1px rgba(#aaa, 0.4)
      &:before
        @include transition-delay(.3s)
        background-color: rgba($color-primary, 0.4)
        left: -42px + $label-size

.loading-indicator
  padding: $space 0px
  text-align: center 
  text-transform: uppercase
  font-size: 0.8em
  color: $color-text-grey-light
  &.fullscreen 
    background-color: rgba(white, 0.9)
    top: 0px 
    position: fixed 
    z-index: 10
    width: 100%
    height: 100vh
    > div 
      @include center-in-parent
  .fa 
    font-size: 45px 

.list-feature
  @include clear-spacing
  list-style-type: none
  &:after
    @include clear-both
  li 
    max-height: 500px
    img 
      max-width: 100%
      border: $simple-border
    @include span(4 of 12)
    @include breakpoint($md-width)
      @include span(6 of 12)
    @include breakpoint($sm-width)
      @include span(12 of 12)

