@import 'constants'
@import 'compass/css3'

.label
  color: #555555
  text-transform: uppercase

form 
  margin: $space auto
  fieldset
    border: none
    display: inline-block
    padding: $space/2
    label 
      display: block

.loading-indicator
  padding: $space 0px
  text-align: center 
  text-transform: uppercase
  font-size: 0.8em
  color: $color-text-grey-light
  &.fullscreen 
    background-color: rgba(white, 0.9)
    top: 0px 
    position: fixed 
    z-index: 10
    width: 100%
    height: 100vh
    > div 
      @include center-in-parent
  .fa 
    font-size: 45px 

.list-feature
  @include clear-spacing
  list-style-type: none
  margin-top: $space
  &:after
    @include clear-both
  li 
    .image 
      display: block
    height: 450px
    overflow-y: scroll
    img 
      max-width: 100%
      border: $simple-border
    @include span(4 of 12)
    @include breakpoint($md-width)
      @include span(6 of 12)
    @include breakpoint($sm-width)
      @include span(12 of 12)
.map
  width: 100%
  height: 250px
  position: relative 
  z-index: 9
.big-map
  width: 200% 
  height: 500px
